:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(12, 12, 12, 0.932));
    background-color: #242424;
    background-image: url('public/drumsticks.jpg');
    background-size: cover;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #71ff64;
    text-decoration: inherit;
}

a:hover {
    color: #f25383;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    color: #000000;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #d41212;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #64ff71;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
     :root {
        color: #213547;
        background-color: #c50505;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #9c2727;
    }
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.app.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
    position: absolute;
    top: 0;
    left: 0;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #8287f0aa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.card ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}

.card li {
    text-align: center;
    background-color: #e3e2ea;
    border: 1px solid #3f58d7;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card li img {
    max-width: 100%;
    border-radius: 6px;
    margin-bottom: 12px;
}

.card li button {
    background-color: #000000;
    color: #d11212;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.card li button:hover {
    background-color: rgb(17, 37, 216);
}

.read-the-docs {
    color: #888;
}

.menu-image {
    max-width: 50%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 10px;
}

.cart-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c41a1a;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.cart button {
    background-color: #2e2ca8;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}